<div class="py-8 px-4 md:px-6 pb-24">
  <!--Title-->
  <div class="flex items-center mb-6">
    <div>
      <h1 class="font-sans text-2xl lg:text-3xl text-muted-800 dark:text-white">
        Schedule
      </h1>
    </div>
    <div class="ml-auto">
      <a
        href="#"
        class="
          relative
          font-sans font-normal
          inline-flex
          items-center
          justify-center
          leading-5
          no-underline
          w-full
          md:w-auto
          min-w-[130px]
          space-x-1
          rounded
          text-white
          bg-muted-800
          dark:bg-primary-600
          h-12
          px-5
          py-3
          text-base
          hover:bg-muted-700
          dark:hover:bg-primary-500
          hover:shadow-xl hover:shadow-muted-300/20
          dark:hover:shadow-primary-600/20
          tw-accessibility
          transition-all
          duration-300
        "
      >
        <i class="iconify w-4 h-4" data-icon="lucide:edit-2"></i>
        <span>manage</span>
      </a>
    </div>
  </div>

  <!--Grid-->
  <div class="grid ltablet:grid-cols-12 lg:grid-cols-12 gap-10">
    <!--Grid item-->
    <div class="ltablet:col-span-8 lg:col-span-8">
      <!--List-->
      <div class="mb-16">
        <h4
          class="
            font-sans
            text-xs
            tracking-wider
            uppercase
            text-muted-500
            pb-4
            mb-4
            border-b border-muted-200
            dark:border-muted-800
          "
        >
          Upcoming
        </h4>

        <div class="space-y-2">
          <!--Item-->
          <div
            class="
              h-full
              flex
              items-center
              p-4
              border border-muted-200
              dark:border-muted-800
              bg-white
              dark:bg-muted-900
            "
          >
            <div class="w-full md:w-1/2">
              <div class="flex flex-col lg:flex-row lg:items-center gap-2">
                <div
                  class="
                    h-10
                    w-10
                    flex
                    items-center
                    justify-center
                    rounded-full
                    border-2 border-primary-500
                    bg-primary-500/20
                    text-primary-500
                  "
                >
                  <i class="iconify w-5 h-5" data-icon="ph:gear-six-duotone"></i>
                </div>
                <div>
                  <h4
                    class="
                      font-sans font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Customization
                  </h4>
                  <p class="font-sans text-xs text-muted-400">
                    Appointment for customization
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 flex flex-col lg:flex-row lg:items-center justify-end gap-6">
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:calendar-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Dec 23, 2022
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:clock-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  11:30 am
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:map-pin-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Los Angeles
                </span>
              </div>
            </div>
          </div>
          <!--Item-->
          <div
            class="
              h-full
              flex
              items-center
              p-4
              border border-muted-200
              dark:border-muted-800
              bg-white
              dark:bg-muted-900
            "
          >
            <div class="w-full md:w-1/2">
              <div class="flex flex-col lg:flex-row lg:items-center gap-2">
                <div
                  class="
                    h-10
                    w-10
                    flex
                    items-center
                    justify-center
                    rounded-full
                    border-2 border-emerald-500
                    bg-emerald-500/20
                    text-emerald-500
                  "
                >
                  <i class="iconify w-5 h-5" data-icon="ph:wrench-duotone"></i>
                </div>
                <div>
                  <h4
                    class="
                      font-sans font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Repair
                  </h4>
                  <p class="font-sans text-xs text-muted-400">
                    Appointment for vehicle repair
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 flex flex-col lg:flex-row lg:items-center justify-end gap-6">
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:calendar-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Dec 19, 2022
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:clock-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  10:30 am
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:map-pin-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Los Angeles
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--List-->
      <div>
        <h4
          class="
            font-sans
            text-xs
            tracking-wider
            uppercase
            text-muted-500
            pb-4
            mb-4
            border-b border-muted-200
            dark:border-muted-800
          "
        >
          Past events
        </h4>

        <div class="space-y-2">
          <!--Item-->
          <div
            class="
              h-full
              flex
              items-center
              p-4
              border border-muted-200
              dark:border-muted-800
              bg-white
              dark:bg-muted-900
            "
          >
            <div class="w-full md:w-1/2">
              <div class="flex flex-col lg:flex-row lg:items-center gap-2">
                <div
                  class="
                    h-10
                    w-10
                    flex
                    items-center
                    justify-center
                    rounded-full
                    border-2 border-slate-500
                    bg-slate-500/20
                    text-slate-500
                  "
                >
                  <i class="iconify w-5 h-5" data-icon="ph:car-duotone"></i>
                </div>
                <div>
                  <h4
                    class="
                      font-sans font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Maintenance
                  </h4>
                  <p class="font-sans text-xs text-muted-400">
                    Appointment for maintenance
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 flex flex-col lg:flex-row lg:items-center justify-end gap-6">
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:calendar-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Apr 9, 2021
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:clock-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  9:30 am
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:map-pin-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Los Angeles
                </span>
              </div>
            </div>
          </div>
          <!--Item-->
          <div
            class="
              h-full
              flex
              items-center
              p-4
              border border-muted-200
              dark:border-muted-800
              bg-white
              dark:bg-muted-900
            "
          >
            <div class="w-full md:w-1/2">
              <div class="flex flex-col lg:flex-row lg:items-center gap-2">
                <div
                  class="
                    h-10
                    w-10
                    flex
                    items-center
                    justify-center
                    rounded-full
                    border-2 border-slate-500
                    bg-slate-500/20
                    text-slate-500
                  "
                >
                  <i class="iconify w-5 h-5" data-icon="ph:wrench-duotone"></i>
                </div>
                <div>
                  <h4
                    class="
                      font-sans font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Repair
                  </h4>
                  <p class="font-sans text-xs text-muted-400">
                    Appointment for vehicle repair
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 flex flex-col lg:flex-row lg:items-center justify-end gap-6">
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:calendar-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Mar 7, 2021
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:clock-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  2:30 pm
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:map-pin-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  San Diego
                </span>
              </div>
            </div>
          </div>
          <!--Item-->
          <div
            class="
              h-full
              flex
              items-center
              p-4
              border border-muted-200
              dark:border-muted-800
              bg-white
              dark:bg-muted-900
            "
          >
            <div class="w-full md:w-1/2">
              <div class="flex flex-col lg:flex-row lg:items-center gap-2">
                <div
                  class="
                    h-10
                    w-10
                    flex
                    items-center
                    justify-center
                    rounded-full
                    border-2 border-slate-500
                    bg-slate-500/20
                    text-slate-500
                  "
                >
                  <i class="iconify w-5 h-5" data-icon="ph:car-duotone"></i>
                </div>
                <div>
                  <h4
                    class="
                      font-sans font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Maintenance
                  </h4>
                  <p class="font-sans text-xs text-muted-400">
                    Appointment for maintenance
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 flex flex-col lg:flex-row lg:items-center justify-end gap-6">
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:calendar-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Jun 18, 2020
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:clock-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  8:30 am
                </span>
              </div>
              <!--Meta item-->
              <div class="flex items-center gap-1 text-muted-500 dark:text-muted-400F">
                <i class="iconify w-4 h-4" data-icon="ph:map-pin-duotone"></i>
                <span
                  class="block font-sans text-sm"
                >
                  Los Angeles
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Grid item-->
    <div class="ltablet:col-span-4 lg:col-span-4">
      <!--Card-->
      <div
        x-data="calendar()"
        x-init="[initDate(), getNoOfDays()]"
        x-cloak
        class="
          flex flex-col
          p-6
          lg:p-8
          border border-muted-200
          dark:border-muted-800
          bg-white
          dark:bg-muted-900
          mt-8
        "
      >
        <!--Title-->
        <div class="flex items-center gap-4 mb-10">
          <div class="leading-tight">
            <h3
              class="
                font-sans font-light
                text-xl text-muted-800
                dark:text-muted-50
              "
            >
              Scheduled
            </h3>
            <p class="font-sans text-xs text-muted-400">Your scheduled items</p>
          </div>
        </div>
        <div class="w-full">
          <div class="flex justify-between items-center mb-6">
            <div class="flex flex-col-reverse">
              <span
                x-text="monthNames[month]"
                class="
                  font-heading
                  text-sm
                  font-medium
                  text-muted-500
                  dark:text-white
                "
              ></span>
              <span
                x-text="year"
                class="text-lg text-muted-600 dark:text-muted-200 font-normal"
              ></span>
            </div>
            <div>
              <button
                type="button"
                class="
                  font-sans
                  focus-visible:outline-none focus-visible:shadow-outline
                  transition
                  ease-in-out
                  duration-100
                  inline-flex
                  cursor-pointer
                  hover:bg-muted-100
                  dark:hover:bg-muted-600
                  text-muted-400
                  dark:hover:text-muted-100
                  p-2
                  rounded-full
                "
                @click="if (month == 0) {
                  year--;
                  month = 12;
                } 
                month--; 
                getNoOfDays()"
              >
                <svg
                  class="h-4 w-4 inline-flex"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 19l-7-7 7-7"
                  />
                </svg>
                <span class="sr-only">Previous month</span>
              </button>
              <button
                type="button"
                class="
                  focus-visible:outline-none focus-visible:shadow-outline
                  transition
                  ease-in-out
                  duration-100
                  inline-flex
                  cursor-pointer
                  hover:bg-muted-100
                  dark:hover:bg-muted-600
                  text-muted-400
                  dark:hover:text-muted-100
                  p-2
                  rounded-full
                "
                @click="if (month == 11) {
                          month = 0; 
                          year++;
                        } 
                        else {
                          month++; 
                        } 
                getNoOfDays()"
              >
                <svg
                  class="h-4 w-4 inline-flex"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
                <span class="sr-only">Next month</span>
              </button>
            </div>
          </div>

          <div class="flex flex-wrap my-4 -mx-1">
            <template x-for="(day, index) in dayNames" :key="index">
              <div class="px-0.5 w-[14.26%]">
                <div
                  x-text="day"
                  class="
                    font-sans
                    text-muted-600
                    dark:text-muted-300
                    font-semibold
                    text-center text-xs
                  "
                ></div>
              </div>
            </template>
          </div>

          <div class="flex flex-wrap -mx-1">
            <template x-for="blankday in blankdays">
              <div
                class="
                  font-sans
                  text-center
                  border
                  p-1
                  border-transparent
                  text-sm
                  w-[14.28%]
                "
              ></div>
            </template>
            <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">
              <div
                class="
                  inline-flex
                  items-center
                  justify-center
                  px-1
                  mb-1
                  w-[14.28%]
                  h-8
                "
              >
                <div
                  @click="getDateValue(date)"
                  x-text="date"
                  class="
                    font-sans
                    inline-flex
                    items-center
                    justify-center
                    h-7
                    w-7
                    cursor-pointer
                    text-center text-xs
                    leading-none
                    rounded-full
                    transition-colors
                    ease-in-out
                    duration-300
                  "
                  :class="{
                    'bg-primary-200': isToday(date) == true, 
                    'text-muted-400 hover:bg-primary-200 dark:hover:bg-muted-800 hover:text-primary-500 dark:hover:text-muted-200': isToday(date) == false && isSelectedDate(date) == false,
                    'bg-primary-500 text-white hover:bg-opacity-75': isSelectedDate(date) == true 
                  }"
                ></div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
