<section class="w-full pt-12 pb-32 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <!--Container-->
  <div class="w-full max-w-7xl mx-auto z-10">
    <!--Content-->
    <div
      class="
        relative
        flex flex-col
        items-center
        mx-auto
        ltablet:flex-row-reverse ltablet:max-w-5xl
        lg:flex-row-reverse lg:max-w-5xl
        xl:max-w-6xl
      "
    >
      <!-- Column -->
      <div
        class="
          w-full
          h-64
          ptablet:h-[475px]
          ltablet:w-1/2 ltablet:h-auto
          lg:w-1/2 lg:h-auto
        "
      >
        <img
          class="h-full w-full object-cover"
          src="/img/photo/600x600/3.jpg"
          alt="Cars in line"
          width="576"
          height="576"
        />
      </div>

      <!-- Column -->
      <div
        class="
          max-w-lg
          bg-white
          dark:bg-muted-800
          border border-muted-200
          dark:border-muted-700
          md:max-w-2xl md:z-10 md:shadow-xl md:shadow-muted-400/10
          dark:md:shadow-muted-800/10
          md:absolute md:top-0 md:mt-48
          ltablet:w-3/5 ltablet:left-0 ltablet:mt-20 ltablet:ml-20
          lg:w-3/5 lg:left-0 lg:mt-20 lg:ml-20
          xl:mt-24 xl:ml-12
        "
      >
        <!-- Content -->
        <div class="flex flex-col p-12 md:px-16">
          <h2
            class="
              font-heading font-light
              text-2xl
              ltablet:text-4xl
              lg:text-4xl
              text-muted-800
              dark:text-white
            "
          >
            Book a test drive
          </h2>
          <p class="font-sans text-muted-500 dark:text-muted-400 mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <!-- Buttons -->
          <div class="flex items-center gap-4 mt-8">
            <a
              href="#"
              class="
                inline-block
                w-full
                text-center text-base
                font-medium
                text-white
                bg-muted-800
                dark:bg-muted-900
                py-4
                px-10
                hover:bg-muted-700
                dark:hover:bg-muted-1000
                md:w-44
                tw-accessibility
                transition-all
                duration-300
              "
            >
              Get Started
            </a>
            <p
              class="
                hidden
                md:block
                font-sans
                text-sm text-muted-500
                dark:text-muted-400
              "
            >
              No credit card required
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
