<footer
  class="
    group
    relative
    text-muted-600
    body-font
    overflow-hidden
    bg-muted-900
    dark:bg-muted-1000
  "
>
  <div
    class="
      absolute
      -top-12
      -left-12
      w-56
      h-56
      z-10
      text-muted-400/20
      group-hover:animate-wheel
    "
  >
    {{> vector/icons/tire-icon}}
  </div>

  <div
    class="
      absolute
      bottom-4
      -right-20
      w-56
      h-56
      z-10
      text-muted-400/20
      group-hover:animate-wheel
    "
  >
    {{> vector/icons/tire-icon}}
  </div>

  <div class="relative w-full max-w-7xl mx-auto px-5 py-24 z-20">
    <div class="w-full grid grid-cols-2 md:grid-cols-6 gap-4 pb-10 px-4">
      <a
        href="#"
        class="
          group
          flex
          items-center
          justify-center
          flex-1
          p-4
          bg-muted-800
          border-2 border-muted-700
          text-muted-100
          hover:text-primary-500 hover:border-primary-500
          transition-colors
          duration-300
        "
      >
        <div class="text-center">
          <div class="w-full max-w-[60px] my-2">
            {{> vector/vehicles/limousine}}
          </div>
          <h4 class="font-sans text-sm text-muted-100">Limousine</h4>
        </div>
      </a>
      <a
        href="#"
        class="
          group
          flex
          items-center
          justify-center
          flex-1
          p-4
          bg-muted-800
          border-2 border-muted-700
          text-muted-100
          hover:text-primary-500 hover:border-primary-500
          transition-colors
          duration-300
        "
      >
        <div class="text-center">
          <div class="w-full max-w-[60px] my-2">{{> vector/vehicles/suv}}</div>
          <h4 class="font-sans text-sm text-muted-100">SUV</h4>
        </div>
      </a>
      <a
        href="#"
        class="
          group
          flex
          items-center
          justify-center
          flex-1
          p-4
          bg-muted-800
          border-2 border-muted-700
          text-muted-100
          hover:text-primary-500 hover:border-primary-500
          transition-colors
          duration-300
        "
      >
        <div class="text-center">
          <div class="w-full max-w-[60px] my-2">{{> vector/vehicles/compact}}</div>
          <h4 class="font-sans text-sm text-muted-100">Compact</h4>
        </div>
      </a>
      <a
        href="#"
        class="
          group
          flex
          items-center
          justify-center
          flex-1
          p-4
          bg-muted-800
          border-2 border-muted-700
          text-muted-100
          hover:text-primary-500 hover:border-primary-500
          transition-colors
          duration-300
        "
      >
        <div class="text-center">
          <div class="w-full max-w-[60px] my-2">{{> vector/vehicles/break}}</div>
          <h4 class="font-sans text-sm text-muted-100">Break</h4>
        </div>
      </a>
      <a
        href="#"
        class="
          group
          flex
          items-center
          justify-center
          flex-1
          p-4
          bg-muted-800
          border-2 border-muted-700
          text-muted-100
          hover:text-primary-500 hover:border-primary-500
          transition-colors
          duration-300
        "
      >
        <div class="text-center">
          <div class="w-full max-w-[60px] my-2">{{> vector/vehicles/coupe}}</div>
          <h4 class="font-sans text-sm text-muted-100">Coupe</h4>
        </div>
      </a>
      <a
        href="#"
        class="
          group
          flex
          items-center
          justify-center
          flex-1
          p-4
          bg-muted-800
          border-2 border-muted-700
          text-muted-100
          hover:text-primary-500 hover:border-primary-500
          transition-colors
          duration-300
        "
      >
        <div class="text-center">
          <div class="w-full max-w-[60px] my-2">{{> vector/vehicles/van}}</div>
          <h4 class="font-sans text-sm text-muted-100">Van</h4>
        </div>
      </a>
    </div>
    <div class="flex flex-wrap md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          "
        >
          Buy vehicles
        </h2>
        <ul class="font-sans space-y-2 mb-10">
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Inventory
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              New vehicles
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Used vehicles
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              All models
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Buying online
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          "
        >
          Service
        </h2>
        <ul class="font-sans space-y-2 mb-10">
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Test drive
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Store network
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Rate calculator
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Book appointment
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Technology
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              FAQs
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          "
        >
          Company
        </h2>
        <ul class="font-sans space-y-2 mb-10">
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              About us
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Contact
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Customer center
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Events
            </a>
          </li>
          <li>
            <a
              href="#"
              class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              "
            >
              Terms Of Service
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          "
        >
          SUBSCRIBE
        </h2>
        <div
          class="
            flex
            xl:flex-nowrap
            md:flex-nowrap
            lg:flex-wrap
            flex-wrap
            justify-center
            items-end
            md:justify-start
          "
        >
          <div class="relative w-full flex flex-col gap-2">
            <input
              type="text"
              placeholder="Enter your email..."
              class="
                w-full
                h-10
                bg-muted-800/50
                border border-muted-700
                text-sm
                outline-none
                py-2
                px-3
                leading-8
                placeholder:text-muted-600
                text-muted-100
                transition-colors
                duration-300
                tw-accessibility
              "
            />
            <button
              class="
                w-full
                h-10
                flex
                items-center
                justify-center
                font-sans
                text-sm text-white
                bg-primary-500
                border-0
                py-2
                px-6
                focus:outline-none
                hover:bg-primary-600
              "
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative bg-muted-1000 dark:bg-muted-900 z-20">
    <div
      class="
        w-full
        max-w-7xl
        mx-auto
        px-5
        py-6
        flex
        items-center
        sm:flex-row
        flex-col
      "
    >
      <a
        class="
          flex
          font-sans font-light
          items-center
          gap-2
          md:justify-start
          justify-center
          text-muted-900
        "
      >
        <div class="h-14 w-14 text-muted-100">{{> vector/logos/logo}}</div>
        <span class="text-xl text-muted-100">Finity</span>
      </a>
      <p class="text-sm text-muted-400 sm:ml-6 sm:mt-0 mt-4">
        © 2022-2024 Css Ninja — All Rights Reserved.
      </p>
      <span
        class="
          inline-flex
          gap-3
          sm:ml-auto sm:mt-0
          mt-4
          justify-center
          sm:justify-start
        "
      >
        <a href="#" class="text-muted-400 hover:text-primary-500">
          <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:facebook-f"></iconify-icon>
        </a>
        <a href="#" class="text-muted-400 hover:text-primary-500">
          <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:twitter"></iconify-icon>
        </a>
        <a href="#" class="text-muted-400 hover:text-primary-500">
          <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:instagram"></iconify-icon>
        </a>
        <a href="#" class="text-muted-400 hover:text-primary-500">
          <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:linkedin-in"></iconify-icon>
        </a>
      </span>
    </div>
  </div>
</footer>
