<section class="w-full py-12 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <div class="w-full max-w-7xl mx-auto">
    <!--Section title-->
    <div class="w-full max-w-lg mx-auto text-center space-y-4 py-6">
      <!--Badge-->
      <span
        class="
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-full
          bg-primary-100
          text-primary-500
          dark:bg-primary-500 dark:text-white
        "
      >
        Our Company
      </span>
      <!--Title-->
      <h2
        class="
          font-heading font-light
          text-4xl
          md:text-5xl
          text-muted-800
          dark:text-white
        "
      >
        Who we are
      </h2>
      <!--Subtitle-->
      <p
        class="font-sans font-light text-lg text-muted-500 dark:text-muted-400"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Torquatus:
        Prorsus, inquit, assentior.
      </p>
    </div>

    <div class="w-full max-w-5xl mx-auto">
      <img src="/img/photo/about-banner.png" alt="About image" />

      <!--Text-->
      <div
        class="
          grid grid-cols-3
          gap-8
          mt-6
          mb-12
          pb-12
          border-b border-muted-200
          dark:border-muted-800
        "
      >
        <!--Text block-->
        <div class="space-y-2">
          <h4
            class="
              font-sans font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            How we think
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nihil sane.
            Ergo ita: non posse honeste vivi, nisi honeste vivatur? Neminem
            videbis ita laudatum, ut artifex callidus comparandarum voluptatum
            diceretur.
          </p>
        </div>
        <!--Text block-->
        <div class="space-y-2">
          <h4
            class="
              font-sans font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Our values
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nihil sane.
            Ergo ita: non posse honeste vivi, nisi honeste vivatur? Neminem
            videbis ita laudatum, ut artifex callidus comparandarum voluptatum
            diceretur.
          </p>
        </div>
        <!--Text block-->
        <div class="space-y-2">
          <h4
            class="
              font-sans font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Our customers
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nihil sane.
            Ergo ita: non posse honeste vivi, nisi honeste vivatur? Neminem
            videbis ita laudatum, ut artifex callidus comparandarum voluptatum
            diceretur.
          </p>
        </div>
      </div>
      <!--Features-->
      <div class="grid grid-cols-4 gap-x-4 gap-y-8 mt-6 pb-6">
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:chart-line-up-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Performance
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:bell-simple-ringing-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Reactivity
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:books-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Knowledge
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:crown-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Customer care
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:lightbulb-filament-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Creativity
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:users-three-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Collaboration
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:megaphone-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Communication
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <!--Feature-->
        <div class="font-sans">
          <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-2xl mb-2 text-primary-500" icon="ph:heartbeat-duotone"></iconify-icon>
          <h4 class="font-medium text-muted-800 dark:text-muted-100">
            Passion
          </h4>
          <p class="text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
