<section x-data="inventory()" class="w-full py-12 px-4 bg-muted-100 dark:bg-muted-1000">
  <div class="relative w-full h-full max-w-7xl mx-auto">
    <!--Inventory toolbar-->
    {{> section/inventory/inventory-toolbar}}

    <!--Grid wrapper-->
    <div class="py-10">
      <div class="grid grid-cols-12 md:gap-12 pb-20">
        <!--Filters-->
        <div class="hidden lg:block col-span-12 lg:col-span-3">
          {{> section/inventory/inventory-grid-filters}}
        </div>
        <!--Content-->
        <div class="col-span-12 lg:col-span-9">
          <!--Subgrid-->
          {{> section/inventory/inventory-grid-content}}
        </div>
      </div>
    </div>
  </div>
</section>
