<section
  class="
    relative
    w-full
    ptablet:max-h-[1100px]
    bg-muted-100
    dark:bg-muted-1000
    overflow-hidden
  "
>
  <div
    class="
      relative
      min-h-screen
      w-full
      max-w-7xl
      mx-auto
      flex
      items-center
      z-10
    "
  >

    {{> hero/home/modules/hero-brands}}

    <div class="w-full px-4">
      <div class="w-full max-w-5xl mx-auto text-center mt-10">
        <h1
          class="
            font-sans font-light
            text-5xl
            ltablet:text-6xl
            lg:text-7xl
            leading-none
            text-muted-800
            dark:text-white
          "
        >
          Find your beauty
        </h1>
        <p
          class="
            font-sans
            text-lg text-muted-500
            dark:text-muted-400
            max-w-xl
            mx-auto
            mt-2
            mb-4
          "
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ex ea
          difficultate illae fallaciloquae, ut ait adipiscing elit.
        </p>

        <div
          class="flex flex-col md:flex-row items-center justify-center gap-2"
        >
          <a
            href="https://cssninja.io/product/finity"
            class="
              relative
              font-sans font-normal
              inline-flex
              items-center
              justify-center
              leading-5
              no-underline
              w-full
              md:w-auto
              min-w-[130px]
              space-x-1
              rounded
              text-white
              bg-muted-800
              dark:bg-primary-600
              h-12
              px-5
              py-3
              text-base
              hover:bg-muted-700
              dark:hover:bg-primary-500
              hover:shadow-xl hover:shadow-muted-300/20
              dark:hover:shadow-primary-500/20
              tw-accessibility
              transition-all
              duration-300
            "
          >
            New Cars
          </a>
          <a
            href="#get-started"
            class="
              relative
              font-sans font-normal
              inline-flex
              items-center
              justify-center
              leading-5
              no-underline
              w-full
              md:w-auto
              min-w-[130px]
              space-x-1
              rounded
              text-slate-700
              bg-white
              border
              dark:text-white dark:bg-slate-700 dark:border-slate-600
              h-12
              px-5
              py-3
              text-base
              hover:bg-slate-50
              tw-accessibility
              transition-all
              duration-300
              scroll-link
            "
          >
            Inventory
          </a>
        </div>
      </div>
      <div class="w-full mt-10">
        <!--Hero Car-->
        <div class="relative w-full xs:w-[320px] max-w-[640px] mx-auto">
          <img
            class="w-full opacity-0"
            src="/img/illustrations/car/car-profile-full.png"
            alt="Car hero image"
            width="1049"
            height="389"
          />
          <img
            class="absolute top-0 left-0 w-full z-10 block dark:hidden"
            src="/img/illustrations/car/car-profile-cut.png"
            alt="Car hero image"
            width="1049"
            height="389"
          />
          <img
            class="absolute top-0 left-0 w-full z-10 hidden dark:block"
            src="/img/illustrations/car/car-profile-cut-dark.png"
            alt="Car hero image"
            width="1049"
            height="389"
          />
          <img
            class="
              absolute
              xs:bottom-[10px]
              bottom-[22px]
              xs:left-[36px]
              left-[79px]
              xs:h-[57px] xs:w-[57px]
              h-[105px]
              w-[105px]
              z-20
              animate-rotation
            "
            src="/img/illustrations/car/car-profile-wheel-left.png"
            alt="Car hero image"
            width="280"
            height="280"
          />
          <img
            class="
              absolute
              xs:bottom-[10px]
              bottom-[22px]
              xs:right-[24px]
              right-[55px]
              xs:h-[57px] xs:w-[57px]
              h-[105px]
              w-[105px]
              z-20
              animate-rotation
            "
            src="/img/illustrations/car/car-profile-wheel-right.png"
            alt="Car hero image"
            width="280"
            height="280"
          />
          <div
            class="
              absolute
              bottom-4
              xs:left-0 xs:bottom-2
              ptablet:left-0
              ltablet:left-[-10%]
              lg:left-[-10%]
              mx-auto
              w-[100vw]
            "
          >
            <div
              class="
                relative
                w-full
                xs:h-1.5
                h-3
                transform-road
                opacity-30
                animate-stripemove
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
